#i{
margin-left:-300px;

maxlength=6000;
rows=7
}
body{
margin:0;
padding:0;
color:brown;
bgcolor:orange;
background-size:cover;
background-position:center;
font-size:18px;}
#hiii{
margin-left:-60px;}
#joy{
margin-left:90px;}
#boom{
margin-left:100px;}
#b{
margin-left:80px;background:red;
}
#b:hover{
cursor:pointer;
backgroung:#ffc107;
color:#000;}